.contact {
  height: 100%;
  padding-top: 30vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: 
  //   linear-gradient(
  //       to right,
  //       rgba($color-primary, 0.9),
  //       rgba($color-primary, 0.3)
  //     ),
    url("https://picsum.photos/id/23/1366/768");
  background-size: cover;

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.5rem;
  }

  .social-icons {
    position: initial;
    margin-top: 2rem;
  }
}
